.Header {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  color: white;
  background-color: black;
  margin: 0;
  width: 100%;
  position:fixed;
  z-index: 1;
}

nav li {
  display: inline-block;
  margin: 1rem;
  list-style-type: none;
}
.logo {
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 600px) {
}
