.alignTech {
  display: inline;
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tech {
  width: 50%;
  border: solid 5px black;
  text-align: center;
  color: white;
  background-color: red;
}
.tool {
  width: 50%;
  border: solid 5px black;
  text-align: center;
  color: white;
  background-color: red;
}

.techAndTool {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
