.alignTech {
  display: inline;
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tech {
  width: 50%;
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 3.5rem;
  border-radius: 20px;
}

.tool {
  width: 50%;
  text-align: center;
  color: white;
  background-color: black;
  margin-top: 3.5rem;
  border-radius: 20px;

}

.techAndTool {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}

.page{
  width: 75%;
  text-align: center;
  color: black;
  background-color: white;
  margin-top: 3.5rem;
  margin:auto;
  height: 75vh;

}
